.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/gatorotado.jpg);
    background-size: cover;
    background-position:top;
}
.content{
    position: absolute;
    top: 45%;
    left:10%;
}

.milo_img-fluid{
    width: 40%;
    height: 40%;
    margin: 1rem;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    margin: 22x 10px;
    color: map-get($map: $paleta, $key: "blanco");
}

.end{
    position: absolute;
    color: map-get($map: $paleta, $key: "rosa");
    bottom: 5px;
    font-size: 14px;
    margin-bottom: 0px;
}

.section-img-fluid{
    margin-left: 60rem;
}

.productos__img--fluid{
    width: 60%;
    height: auto;
    margin: 1rem;
}

.promociones__invernales{
    width: 125px;
    height: auto;
    background-color: map-get($map: $paleta, $key: "crema");
    justify-content: center;
    margin: 3rem;
}

.main-section{
    display: flex;
}

.h1{
    font-size: 3rem;
    margin: 3rem;
    justify-content: center;
}

.encabezado{
    font-size: 60px;
    color: map-get($map: $paleta, $key: "rosa");
}

.contacto__section{
    width: 100%;
    height: auto;
    background-color: map-get($map: $paleta, $key: "blanco");
    border: solid 2px map-get($map: $paleta, $key: "negro");
    margin: 1rem;
}

.scale:hover{
    transform: scale(1.1);
    cursor: pointer
}

.botonera ul li a{

    text-decoration: none;
    color: map-get($map: $paleta, $key: "blanco");
    background-image: linear-gradient(currentcolor, currentcolor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.botonera ul li a:hover{
    color: map-get($map: $paleta, $key: "rosa");
    font-weight: 600;
    background-size: 100% 2px;
}