@import "_fonts";
@import "_content";
@import "_nav";
@import "_header";
@import "_main";
@import "_map";
@import "_footer";
@import "_class";

@media all and (max-width:480px){
    nav li a{
        font-size: 1.7rem;
    }
    header h1{
        font-size: 1.7rem;
    }
    header h2{
        font-size: 1.7rem;
    }

}
